
table
{
	border-collapse:collapse;
}

table, th, td
{
	border: 1px solid #0077DD;
	padding: 5px;
}

th
{
	color: #FFFFFF;
	background-color: #0077DD;
}

tr
{
	background-color: #D0D0FF;
}

.trAlt
{
	background-color: #FFFFFF;
}

#filterDiv
{
    padding: 10px;
}

#filterCaption
{
    font-weight: normal;
    font-size: medium;
}

#filterText
{
    width: 200px;
}

#filterCancel
{
    background-color: #0077DD;
    color: #2222FF;
    border-color: #2222FF;
}

